<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="#">NEW INTERIOR.</a>
        <img src="./assets/img/menu-button.svg" alt="menue" />
      </nav>
      <div>
        <h2>Slim & Stylish</h2>
        <p>Modern Design & Competent Service</p>
      </div>
    </header>
    <section class="sec1">
      <div class="combox">
        <div class="headline">
          <div>
            <h4>Our Latest Works</h4>

            <p>Take a look at some of our recent products</p>
          </div>
          <a href="#" class="viewall">View All</a>
        </div>
        <div class="gallery">
          <img src="./assets/img/Link.png" alt="" />
          <img src="./assets/img/Link_1.png" alt="" />
          <img src="./assets/img/Link_2.png" alt="" />
          <img src="./assets/img/Link_3.png" alt="" />
          <img src="./assets/img/Link_4.png" alt="" />
          <img src="./assets/img/Link_5.png" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
